.section-1{
    height: 100vh;
    width: 100%;
}
.background-image{
    background: url(/assets/github-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.658);
}
.navbar-button{
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    
}
.navbar-button1{
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    
}

.navbar-button:hover{
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.418);
    border: none;
    
}
.navbar-button1:hover{
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgba(255, 255, 255, 0.589);
    
}

.navbar-form{
   color: rgba(240, 248, 255, 0.205);
}


.navbar-form{
color: rgba(255, 255, 255, 0.24);
}











.git-button{
    display:inline-flex;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 25%;
    padding: 10px 10px 10px 10px ;
    cursor: pointer;
 
    
   
    
}
.button-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    
}

.heading-h1{
    color: rgba(255, 255, 255, 0.685);
}

.heading-h0{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#basic-addon2{
   background-color: #6e40c9;
   color: white;
   border-radius: 2px;
   border: none;
   cursor: pointer;
   font-family: inherit;
font-weight: 700;
}

#basic-addon2:hover{
    background-color: #6e40c9a2;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-family: inherit;
font-weight: 700;
 }

.form-control{
    height: 3rem;
    border: none;
    background-color: white;

    
    
}

.free-trail{
    border-color: rgba(255, 255, 255, 0.699);
    background-color: rgba(46, 160, 65, 0);
    color: white;
    font-family: inherit;
    font-weight: 700;
}

.free-trail:hover{
border: 2px;
color: white;
border-color: white;
background-color: #6e40c9;
font-family: inherit;
font-weight: 700;




}
 




/* section-2 */

.section-background-2{
    background: url(/assets/section2\ background.jpg);
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec-2-p1{
    color: rgba(255, 255, 255, 0.685);

}

.sec-2-p1 p{
    color: rgba(255, 255, 255, 0.685);
    margin-top: 50px;
        
}



.logo-1 img {
    width: 100%;
    max-width: 100%;
  }





  @media (max-width: 576px) {
  .logo-pics .col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 25px;
  }
  .logo-pics .col:nth-child(even) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .logo-pics .col img {
    height: 44px;
    max-width: 100%;
  }
}

  
  
  

 
